body {
  background: lightblue;
}

.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input{
  font-size: 28px;
  margin-bottom: 10px;
  
}
button{
  font-size: 20px;
  margin: auto;
  padding: 0.5rem;
  background: darkblue;
  color: white;
  border: none;
}
.form{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-items: center;
}
.list{
margin-bottom: 12px;
}

li{
list-style-type: none;
}